<div class="jumbotron jumbotron-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDM-bvSVOaS_-zjTUPwtvYfS-X-DTAPbprxIfRKS0BxAbbqNA1hA'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-6 white-text">
                <h1 class="display-5 text-white pt-5"> Company List </h1>
            </div>
        </div>
    </div>
</div>

<app-company-list-dumb [companies]="companies"></app-company-list-dumb>