<div class="row panel-row">
    <div class="col-md-12" *ngFor="let company of companies">
        <div class="card pl-3">
            <h5 class="card-title">Company Id: {{ company.id }}</h5>
            <h5 class="card-title">Company Name: {{ company.name }}</h5>
            <p class="card-text">Company Category: {{ company.type }}</p>
            <h5 class="card-title">Week Statistics: </h5>
            <p class="card-text">Monday: {{ company.revenuePerWeek?.monday }}</p>
            <p class="card-text">Tuesday: {{ company.revenuePerWeek?.tuesday }}</p>
            <p class="card-text">Wednesday: {{ company.revenuePerWeek?.wednesday }}</p>
            <p class="card-text">Thursday: {{ company.revenuePerWeek?.thursday }}</p>
            <p class="card-text">Friday: {{ company.revenuePerWeek?.friday }}</p>
            <p class="card-text">Saturday: {{ company.revenuePerWeek?.saturday }}</p>
            <p class="card-text">Sunday: {{ company.revenuePerWeek?.sunday }}</p>
            <p class="card-text"> Balance: {{ company.revenue }}</p>
            <p class="card-text"> Month Balance: {{ company.monthRevenue }} </p>
        </div> <!-- card  -->
    </div> <!-- column first -->
</div> <!-- row -->